[java]
hostname = rupid-in-pod1a-node01
jdkDriveId = 1Vhv1aKynSCoGLDUEhSWCEWS3gjATbFFT
jdkVersion = 11.0.12
javaInstallationPath = /usr/java
jdkFileName = jdk-{jdkVersion}.tar.gz
javaHomePath = /usr/java/jdk-{jdkVersion}
mavenVersion = 3.8.8
mavenDriveId = 1kb8ctIxKbwMaIU5SFmQj8zQco_F-Ozan
mavenFileName = apache-maven-{mavenVersion}-bin.tar.gz
mavenFileDownloadPath = /tmp
mavenFileSavePath = /opt
perconaRepoPackageUrl = https://repo.percona.com/apt/percona-release_latest.generic_all.deb
mysqlRootPassword = root
minMemory = 512
maxMemory = 1024
tomcatVersion = 9.0.84
tomcatDriveId = 1n26prGwVIyk85A8rhMltE5ySP91nNAB_
tomcatServiceFilePath = /etc/systemd/system/tomcat.service
tomcatListenPort = 8080
tomcatBaseInstallationPath = /opt/appxi/prod/tomcat
tomcatFileName = apache-tomcat-{tomcatVersion}.tar.gz
tomcatFileDownloadPath = /tmp
haproxyDriveId = 1zzURPKAOA2YO3vrUPBA3uTpVOPCkmFV8
haproxyVersion = 2.8
haproxyErrorsPath = /etc/haproxy/errors
haproxyServiceFilePath = /etc/systemd/system/haproxy.service
haproxyConfigFile = /etc/haproxy/haproxy.cfg
haproxyBinPath = /usr/sbin/haproxy
scyllaVersion = 5.0.13-0.20230423.a0ca8abe4-1
scyllaList = http://downloads.scylladb.com/deb/debian/scylla-5.0.list
nwIfName = ens5
redpandaVersion = 22.3.25-1
redpandaGpgKeyUrl = https://dl.redpanda.com/public/redpanda/gpg.988A7B0A4918BC85.key